@using InspiniaERP.Models
@using Resources
<div id="main-section" class="col-xs-12 column">
<div class="container-fluid">
	<div class="row">
		<div class="row">
			<div class="col-xs-18 col-md-12">
				@(Html.MyGrid<ProviderViewModel>("grid", "Provider")
					  .Columns(columns =>
								{
									columns.Bound(p => p.Id);
									columns.Bound(p => p.ComercialName);
									columns.Bound(p => p.FirstName);
									columns.Bound(p => p.LastName);
									columns.Bound(p => p.Email);
									columns.Bound(p => p.Telephone1);
									columns.Bound(p => p.Telephone2);
									columns.Bound(p => p.Observations);
									columns.Bound(p => p.Address1);
									columns.Bound(p => p.City);
									columns.Bound(p => p.Province);
									columns.Bound(p => p.CUIT);
									columns.Command(command =>
													{
														command.Edit();
														command.Destroy();
													}).Width(172).Title("Actions");
								}).ToolBar(toolbar => toolbar.Create().Text(Resources.NewProvider))
					  .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("ProviderEditor").Window(window => window.Width(600).Resizable().Scrollable(true).Title(Resources.NewProvider)))
					  )
			</div>
		</div>
	</div>
</div>