


<div class="row">
	<div class="col-md-4">
		<button id="btnNew" class="btn btn-primary">Nuevo</button>
		<button id="btnEdit" class="btn btn-success" disabled>Editar</button>
		<button id="btnDelete" class="btn btn-warning" disabled>Borrar</button>
		@*<button id="btnRefresh" class="btn btn-danger">Refrescar</button>*@
	</div>
</div>

<script src="~/Controls/CrudButtons/JS/CrudButtons.js"></script>

