@model AM.WebSite.Controls.DatePicker.Models.DatePickerModel

<div class="input-group">
	<div class="input-group-addon">
		<i class="fa fa-calendar"></i>
	</div>
	@Html.TextBox(Model.ID, Model.DisplayValue, Model.HtmlAttributes)
</div>