<!-- AJAX loading -->
<div id="divAjaxLoading" style="display: none; position: absolute; width: 200px; padding: 5px; top: 0; left: 0; background-color: gray; color: white; border-bottom-left-radius: 0px; border-bottom-right-radius: 10px; font-weight: bold; font-family: 'Courier New';">
	Loading, please wait...
</div>
