<div style="display: none" id="uploadDownloadForms">
	<!-- File Uploader handler -->
	@using (Html.BeginForm("Upload", "DataFile", FormMethod.Post, new { id = "frmDataFileUpload", enctype = "multipart/form-data", @class = "hiddenForm"  }))
	{
		<input type="file" name="postedFile" id="hddDataFileUploadInput" style="opacity: 0; display: none;"><br />
	}

	<!-- Data File Download handler -->
	@using (Html.BeginForm("Download", "DataFile", FormMethod.Post, new { id = "frmDataFileDownload" }))
	{
		<input type="hidden" id="hddDownloadDataFileKey" name="DataFileKey" />
	}

	<!-- Regular File Download handler -->
	@using (Html.BeginForm("DownloadFile", "DataFile", FormMethod.Post, new { id = "frmFileDownload" }))
	{
		<input type="hidden" id="hddDownloadFileKey" name="FileKey" />
	}
</div>
