<!-- PopUp handler -->
<div id="divPopUpHandler" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-top: 90px">
	    <div id="divPopUpHandlerContent"></div>
    </div>
  </div>
</div>

<!-- Alert -->
<div id="divAlert" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span id="lblAlertTitle"></span></h4>
      </div>
      <div class="modal-body">
        <span id="lblAlertMessage"></span>
      </div>
      <div class="modal-footer">
        <button id="btnAlertOK" class="btn btn-default">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm dialog -->
<div id="divConfirmDialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<h4 class="modal-title">Confirmación</h4>
      </div>
      <div class="modal-body">
        <span id="lblMessage"></span>
      </div>
      <div class="modal-footer">
		<button id="btnConfirmYES" class="btn btn-primary">Si</button>
		<button id="btnConfirmNO" class="btn btn-default">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete dialog -->
<div id="divDeleteDialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<h4 class="modal-title">Confirmación de borrado</h4>
      </div>
      <div class="modal-body">
		<p>Esta seguro de que desea borrar este <span id="lblElementType"></span>?</p>
		<strong><span id="lblElementName"></span></strong>
      </div>
      <div class="modal-footer">
		<button id="btnConfirmDeleteYES" class="btn btn-danger">Si, borrar</button>
		<button id="btnConfirmDeleteNO" class="btn btn-default">No, gracias</button>
      </div>
    </div>
  </div>
</div>

<!-- Error handler -->
<div id="divErrorHandler" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ha ocurrido un error de aplicación</h4>
      </div>
	<div id="divErrorHandlerBody" class="modal-body">
	</div>
      <div class="modal-footer">
        <button id="btnErrorHandlerClose" class="btn btn-primary">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Client Search -->
<div id="divClientSearch"></div>

<!-- Group Search -->
<div id="divGroupSearch"></div>


<!-- entity Modal -->
<div id="entityModalContainer">
</div>

<!-- provider Modal -->
<div id="providerModalContainer">
</div>

<!-- product Modal -->
<div id="productModalContainer">
</div>
