<!-- Validation Messages -->
<script type="text/html" id="tmplSuccessValidationMessage">
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<span id="lblTitle"></span>
	</div>
</script>

<script type="text/html" id="tmplErrorValidationMessage">
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4><i class="icon fa fa-ban"></i><span id="lblTitle"></span></h4>
		<ul id="ulMessages"></ul>
	</div>
</script>
