<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- Entity Framework -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<!-- Crypto -->
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<!-- Profiling -->
		<section name="profilingConfiguration" type="Corpnet.Profiling.Config.ProfilingConfigurationSection"/>
		<!-- Razor -->
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<!-- Connection Strings -->
	<connectionStrings>
		<!--<add name="ERPEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ERP;persist security info=True;user id=admin;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<add name="ERPEntities" providerName="System.Data.SqlClient" connectionString="server=localhost; database=ERP; Integrated Security=false; user=admin; password=admin"/>
		<!--<add name="ERPEntities" providerName="System.Data.SqlClient" connectionString="server=dynamika.ctsa5trnt5bw.us-west-2.rds.amazonaws.com,1433; database=ERP; Integrated Security=false; user=admin; password=gfipass123"/>-->
		<!--<add name="AM" providerName="System.Data.SqlClient" connectionString="server=190.2.43.140,14433; database=CruiseWeb; Integrated Security=false; user=cwuser; password=AgMate1!"/>-->
		<!--<add name="Profiling" providerName="System.Data.SqlClient" connectionString="server=190.2.43.140,14433; database=CorpNetProfiler; Integrated Security=false; user=pbsuser; password=c0mein!; max pool size=10"/>-->
	</connectionStrings>
	<!-- Crypto Configuration -->
	<securityCryptographyConfiguration>
		<hashProviders>
			<add name="hashprovider" algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" saltEnabled="true"/>
			<add name="hashprovider_nosalt" algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" saltEnabled="false"/>
		</hashProviders>
	</securityCryptographyConfiguration>
	<!-- PROFILING -->
	<profilingConfiguration connectionStringName="Profiling" logFileName="C:\Projects\TravelLeaders\AgentMate\AM.WebSite\Log\ProfilingLog.txt"/>
	<!-- Entity Framework Configuration -->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<!-- Razor Configuration -->
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Optimization"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Security.Policy"/>
				<add namespace="AM.WebSite.Controls.DateRange.Models"/>
				<add namespace="AM.WebSite.Controls.MonthYearSelection.Models"/>
				<add namespace="AM.WebSite.Controls.MultiselectList.Models"/>
				<add namespace="AM.WebSite.Controls.Tabs.Models"/>
				<add namespace="AM.WebSite.Controls.DataTable.Models"/>
				<add namespace="AM.WebSite.Controls.SearchHeader.Models"/>
				<add namespace="AM.WebSite.Controls.PhoneBox.Models"/>
				<add namespace="AM.WebSite.Controls.Captcha.Models"/>
				<add namespace="AM.WebSite.Controls.Combo.Models"/>
				<add namespace="AM.WebSite.Controls.Auto.Models"/>
				<add namespace="AM.WebSite.Controls.DataFileList.Models"/>
				<add namespace="AM.WebSite.Controls.DataFileUpload.Models"/>
				<add namespace="AM.WebSite.HtmlHelpers"/>
				<add namespace="AM.WebSite.MVC"/>
				<add namespace="AM.WebSite"/>
				<add namespace="AM.Services"/>
				<add namespace="AM.Services.Models"/>
				<add namespace="AM.Utils"/>
				<add namespace="AM"/>
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<!-- App Settings -->
	<appSettings>
		<add key="vs:EnableBrowserLink" value="false"/>
		<add key="encryptionKey" value="1234567890"/>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="PreserveLoginUrl" value="true"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="ActiveReports 9 License" value="bSYNGtwoWAVEpS6o1qns8dzetqsf+VTsb5OQoo9+VM2CW4b2V8dg9GuZqMhRrORRziEMQvFIX3356lYZLjuIvddoEHbyFhI0l7cJZzu99Z0hiYUMMF45jyVzrdGqBMbu6zs2edmYZdh2oa7PcIBXZMZvclniUGyVWBug07xGjuff1+3PW8UtuiYuwBgAoy2B2ih/rQitFZ0nYLIsD6PFXn9vJiy+c1XjugCKsUixgtrpJHQ+FLdJpjJZ68r0Q3NbynIO7HzoEczTljazi96MCPZfbcbCOz/BT2mgk6XZYYFopXuNJnUrsNpyQKul+pH6"/>
	</appSettings>
	<!-- System.Web -->
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
	<system.web>
		<globalization uiCulture="es-AR" culture="es-AR"></globalization>
		<sessionState mode="Off"/>
		<customErrors mode="Off" defaultRedirect="Error"/>
		<compilation debug="true" targetFramework="4.5.2"/>
		<httpRuntime targetFramework="4.5" maxRequestLength="1048576"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Accounts/Login" slidingExpiration="true" name=".ASPXAUTH-AM"/>
		</authentication>
		<machineKey validationKey="42349D489EC64C48D7D48782E04EF48A692A5FFBD49965784AC0A15E708EA46A9B21355FA1171220E62F3392507EE2E09307FAFD1C2CB2C3BC3CA540383F6D5F" decryptionKey="1EF537D2226FAEEBD390BBF332C8E37516603A07FC29AD0A" validation="SHA1"/>
		<pages validateRequest="false" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Optimization"/>
			     	<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
			<controls>
				<add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc"/>
			</controls>
		</pages>
	</system.web>
	<!-- System.WebServer -->
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824"/>
			</requestFiltering>
		</security>
		<httpErrors errorMode="Detailed"/>
		<handlers>
			<remove name="BlockViewHandler"/>
			<add name="BlockViewHandler" path="*.cshtml" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler"/>
			<add name="Profiling" verb="POST,GET,HEAD" path="profiling.axd" type="Corpnet.Profiling.HttpModule.PageFactory, Corpnet.Profiling"/>
		</handlers>
		<modules>
			<add name="Profiling" type="Corpnet.Profiling.HttpModule.ProfilingModule"/>
		</modules>
	</system.webServer>
	<!-- Runtime -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>